*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.img/75439457_2520545204868887_1962762297214500864_n.jpg
.img/uTorrent.exe
.img/uTorrent.exe
